
{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <!-- Hero section -->
    <section class="hero-section set-bg" data-setbg="img/bg.jpg">
        <div class="container h-100">
            {#<div class="hero-content text-white">#}
                {#<div class="row">#}
                    {#<div class="col-lg-6 pr-0">#}
                        <h3>Gestion admin</h3><br>

                        <ul>
                            {% for user in users %}
                                {#<h6>{{ user.firstname }} - {{ user.lastname }}</h6>#}

                                {#<a href="{{ path('remove_conference_', {'id': conference.id}) }}">Remove</a>#}
                                {#<a href="{{ path('user_remove', {'id': user.id}) }}">Remove</a>#}

                                {#{% for conference in user.conferences %}#}
                                    {#<p>{{ conference.name }}</p>#}
                                {#{% endfor %}#}
                                {#{% for conference in conferences %}#}
                                    {#<a href="{{ path('details_conferences', { 'id': conference.id }) }}">{{ conference.name }}</a>#}
                                    {#<li>{{ conference.description }}</li>#}
                                    {#{% if conference.user %}#}
                                        {#<li>{{ conference.user.id }}</li>#}
                                        {#<li>{{ conference.user.firstname }}</li>#}
                                    {#{% endif %}#}
                                {#{% endfor %}#}
                            {% endfor %}
                        </ul>
                    {#</div>#}
                {#</div>#}
                <div class="hero-rocket">
                    <img src="./img/rocket.png" alt="">
                </div>
            {#</div>#}
        </div>
    </section>
    <!-- Hero section end -->
{% endblock %}


