{#{% extends 'base.html.twig' %}#}

{#{% block title %}Hello AdminController!{% endblock %}#}

{#{% block body %}#}

    {#<div class="content">#}
        {#<ul>#}
            {#{% for user in users %}#}
                {#<h1>{{ user.firstname }}</h1>#}
                {#{% for conference in user.conferences %}#}
                    {#<p>{{ conference.name }}</p>#}
                {#{% endfor %}#}
                {#{% for conference in conferences %}#}
                    {#<a href="{{ path('details_conferences', { 'id': conference.id }) }}">{{ conference.name }}</a>#}
                    {#<li>{{ conference.description }}</li>#}
                    {#{% if conference.user %}#}
                        {#<li>{{ conference.user.id }}</li>#}
                        {#<li>{{ conference.user.firstname }}</li>#}
                    {#{% endif %}#}
                {#{% endfor %}#}
            {#{% endfor %}#}
        {#</ul>#}

    {#</div>#}
{#{% endblock %}#}
