{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

    <div class="content">

        <ul>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </ul>

        {% for user in users %}
            <h1>{{ user.firstname }}</h1>
            {% for conference in user.conferences %}
                <p>{{ conference.name }}</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}